https://github.com/TelegramPlayground/pyrogram/archive/dev.zip
# https://github.com/KurimuzonAkuma/kurigram/archive/dev.zip
tgcrypto-pyrofork==1.2.8
configparser==7.2.0
asyncio==4.0.0
aiogram==3.24.0
